.alumni-panel {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-bottom:30px;
    background-color:#fbfbfb;
    overflow: hidden;
}

.alumni-heading {
    font-size:20px;
    width:100%;
    background-color:#555555;
    color:white;
    text-transform: uppercase;
    padding:10px 20px 10px 20px;
    font-weight:bold;
}

.panel-content {
    padding:20px;
}

.search-control {
    display:inline-block;
    vertical-align:top;
    padding:5px;
    margin-bottom:10px;
}

.search-control select, input {
    height:30px;
    border-radius:5px;
    width: 245px;
}

@media screen and  (max-width: 460px) {
    .search-control select, input {
        width:100%;
    }
}
